        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background: black;
        }

        .第零個階段 {
            display: inline-flex;
        }    

        .第零個階段 .第一個階段 {
            color: #ddbeed;
            font-size: 60px;
            font-weight: 400;
        }

        .第零個階段 .第二個階段 {
            margin-left: 15px;
            height: 90px; 
            line-height: 90px;
            overflow: hidden;
        } 

        .第二個階段 li {
            color: #bb61e8;
            list-style: none;
            font-size: 60px;
            font-weight: 500;
            position: relative;
            top: 0%;
            animation: 方向 6s steps(4) infinite;
        }

        @keyframes 方向 {
            100% {
                top: -360px;
            }
        }

        .第二個階段 li span {
            position: relative;
        }

        .第二個階段 li span::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: black;
            left: 0%;
            border-left: 2px solid #bb61e8;
            animation: 打字 1.5s steps(10) infinite;
        }

        @keyframes 打字 {
            100% {
                left: 100%;
                margin: 0 -35px 0 35px;
            }
        }
